ZO_ROOT_USER_EMAIL = "root@example.com"
ZO_ROOT_USER_PASSWORD = "Complexpass#123"
ZO_LOCAL_MODE = true
ZO_PRINT_KEY_SQL = true
ZO_UTF8_VIEW_ENABLED = false
ZO_RESULT_CACHE_ENABLED = false
ZO_FEATURE_PUSHDOWN_FILTER_ENABLED = false
# ZO_MEMORY_CACHE_DATAFUSION_MEMORY_POOL = "off"
